<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/bootstrap_dark.css">

    <script defer>
        let filename = "{{file_name}}";

        let arr = filename.split(".");
        let ext = arr[arr.length - 1];

        let xhr = new XMLHttpRequest();        
        xhr.open("GET", "/file/" + filename);

        xhr.onload = function() {
            console.log(xhr.status);
            if (xhr.status == 200) {
                var blob = xhr.response;
                let url = window.URL.createObjectURL(blob); 

                let frame = `
                <iframe id="frame" src="${url}" class="" style="width: 100vw; height: 80vh;" onload="update_frame_contents()"></iframe>
                `

                document.getElementById("cont").innerHTML += frame;

                let btn = `
                <a class="btn btn-primary" href="${url}" download="${filename}" target="_blank">Download File</a>
                `

                document.getElementById("download").innerHTML += btn;
            }
            else {
                document.body.innerText = "404 File Not Found";
            }
        };

        xhr.responseType = "blob"

        xhr.setRequestHeader("username", sessionStorage.getItem("username"));
        xhr.setRequestHeader("password", sessionStorage.getItem("password"));

    xhr.send();
    </script>

    <script>
        let update_frame_contents = function() {
            let frame = document.getElementById("frame")
            if (frame.src != "") {
                /*let b = frame.contentWindow.document.body;
                let h = frame.contentWindow.document.head;
                document.getElementById("frame").remove();

                document.head.innerHTML += h.innerHTML;
                document.getElementById("cont").innerHTML += b.innerHTML;*/
                
                frame.contentWindow.document.body.style.backgroundColor = "#222222"
                
            }
            
        }
    </script>

    <title>{{file_name}}</title>
</head>

<body style="background-color: #222222;">
    <div id="cont" class="">

    </div>
    <div id="download" class="container text-center" style="margin-top: 5vh;">
        
    </div>
</body>
</html>